<section id="portfolio">
    <br>
    <h3 class="titulo-seccion">PROYECTOS DE SIMÓN PARRA</h3>

    <div class="contender-p">
        <div class="contenedor-portfolio">
            <div class="contenedor-img">
                <img src="assets/img/AM-CAPS-Gorras-originales-y-exclusivas-con-los-mejores-diseños.png" alt="">
            </div>
            <h2>Tienda Online Am Caps</h2>
            <p>Desarrollo de tienda online para la marca gorras amcapsbrand.</p>
            <div class="contenedor-buttons">
                <a class="button" href="https://amcapsbrand.com/" target="_blank">VER PAGINA
                </a>
            </div>
        </div>

        <div class="contenedor-portfolio">
            <div class="contenedor-img">
                <img src="assets/img/Sonhos-Departamentos.jpg" alt="">
            </div>
            <h2>Pagina Web Proyecto Sonhos</h2>
            <p>Desarrollo de página web para la empresa de Proyecto Sonhos.</p>
            <div class="contenedor-buttons">
                <a class="button" href="https://proyecto-sonhos.com/" target="_blank">VER PAGINA
                </a>
            </div>
        </div>

        <div class="contenedor-portfolio">
            <div class="contenedor-img">
                <img src="assets/img/Glomso.png" alt="">
            </div>
            <h2>Pagina Web GLomso</h2>
            <p>Desarrollo de página web para empresa de maketing digital Glomso.</p>
            <div class="contenedor-buttons">
                <a class="button" href="https://glomso.com/" target="_blank">VER PAGINA
                </a>
            </div>
        </div>
        
    </div>

    <div class="contender-p">
        <div class="contenedor-portfolio">
            <div class="contenedor-img">
                <img src="assets/img/Inversiones-Caxias (1).jpg" alt="">
            </div>
            <h2>Pagina Web Inversiones Caxias</h2>
            <p>Desarrollo de página web para la empresa de venta de maquinaria de contrucion.</p>
            <div class="contenedor-buttons">
                <a class="button" href="https://inversionescaxias.com/" target="_blank">VER PAGINA
                </a>
            </div>
        </div>

        <div class="contenedor-portfolio">
            <div class="contenedor-img">
                <img src="assets/img/dsalomoda-es.png" alt="">
            </div>
            <h2>Tienda Online Dsalomoda</h2>
            <p>Desarrollo de tienda online para la venta de ropa dsalomoda.</p>
            <div class="contenedor-buttons">
                <a class="button" href="https://dsalomoda.es/" target="_blank">VER PAGINA
                </a>
            </div>
        </div>

        <div class="contenedor-portfolio">
            <div class="contenedor-img">
                <img src="assets/img/Urban-Working.png" alt="">
            </div>
            <h2>Pagina Web Urban Working</h2>
            <p>Desarrollo de página web para la empresa de Urban Working Benavides.</p>
            <div class="contenedor-buttons">
                <a class="button" href="https://urbanworking.thunderbirdhotels.com/" target="_blank">VER PAGINA
                </a>
            </div>
        </div>
    </div>

    <div class="contender-p">
        <div class="contenedor-portfolio">
            <div class="contenedor-img">
                <img src="assets/img/webdeveloper.png" alt="">
            </div>
            <h2>Pagina Web Informativa</h2>
            <p>Desarrollo de página web informativa relacionada a la Programación.</p>
            <div class="contenedor-buttons">
                <a class="button" href="https://futurewebdeveloper.com/" target="_blank">VER PAGINA
                </a>
            </div>
        </div>

        <div class="contenedor-portfolio">
            <div class="contenedor-img">
                <img src="assets/img/ProyectCrypto.jpg" alt="">
            </div>
            <h2>Pagina Web Criptomonedas</h2>
            <p>Desarrollo de página web relacionada a la cotizacion de la criptomonedas </p>
            <div class="contenedor-buttons-two">
                <a href="https://github.com/simonpc147/ProyectoCrypto.01" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a class="button" href="https://cryptocoin-52af4.web.app/cryptomoneda" target="_blank">VER PAGINA
                </a>
            </div>
        </div>

        <div class="contenedor-portfolio">
            <div class="contenedor-img">
                <img src="assets/img/Paises.png" alt="">
            </div>
            <h2>Pagina Web de Paises</h2>
            <p>Desarrollo de página web informativa relacionada Continentes, paises y capitales</p>
            <div class="contenedor-buttons-two">
                <a href="https://github.com/simonpc147/ProyectoPaises" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a class="button" href="https://paises-da984.web.app/region" target="_blank">VER PAGINA
                </a>
            </div>
        </div>
    </div>
</section>
<br>
<br>