<div id="politicas">
    <div class="politicas-container">
        <div class="contenedor">
            <h1>Aviso legal </h1>
            <p> Bienvenido a mi página web https://simonparra.com/, espero que disfrutes de la visita. El acceso a mi
                página
                implica la condición de usuario y la aceptación y conocimiento de las siguientes condiciones de uso, por
                lo que te recomiendo que las leas y comprendas antes de hacer uso de ella.
            </p>
        </div>

        <div class="contenedor">
            <h2>Identidad del Responsable</h2>
            <ul class="lista_contenido">
                <li> <strong>Nombre Comercial: </strong>Simón Parra</li>
                <li> <strong>Domicilio Social: </strong>San Cristobal, Estado Tachira, Venezuela</li>
                <li> <strong>Actividad: </strong>Diseño y desarrollo web</li>
                <li> <strong>Teléfono</strong>: +58 4247332995</li>
                <li> <strong>eMail: </strong>info&#64;simonparra.com </li>
                <li> <strong>Nombre de Dominio:</strong> www.simonparra.com</li>
            </ul>
        </div>

        <div class="contenedor">
            <h2>Aceptacion de las condiciones de uso</h2>
            <p>
                Las presentes Condiciones (en adelante denominado como Aviso Legal) tienen por objeto regular el uso de
                este Web que La Compañía pone a disposición del público en la presente URL. La utilización del sitio Web
                por un tercero le atribuye la condición de Usuario y, supone la aceptación plena por dicho Usuario, de
                todas y cada una de las condiciones que se incorporan en el presente Aviso Legal. La Compañía puede
                ofrecer a través del sitio Web, servicios o productos que podrán encontrarse sometidas a unas
                condiciones particulares propias que, según los casos, sustituyen, completan y/o modifican el presente
                Aviso Legal, y sobre las cuales se informará al Usuario en cada caso concreto.
            </p>
        </div>

        <div class="contenedor">
            <h2>Uso correcto del sitio Web</h2>
            <p>
                El Usuario se compromete a utilizar el sitio Web, los contenidos y servicios de conformidad con la Ley,
                el presente Aviso Legal, las buenas costumbres y el orden público. Del mismo modo, el Usuario se obliga
                a no utilizar el sitio Web o los servicios que se presten a través de él con fines o efectos ilícitos o
                contrarios al contenido del presente Aviso Legal, lesivos de los intereses o derechos de terceros, o que
                de cualquier forma pueda dañar, inutilizar o deteriorar el sitio Web o sus servicios, o impedir un
                normal disfrute del sitio Web por otros Usuarios.
            </p>
        </div>

        <div class="contenedor">
            <h2>Finalidad de la Web</h2>
            <p>
                La web de “Simón Parra”tiene la finalidad de informar a clientes y potenciales clientes de sus
                productos y/o servicios, datos de contacto, ubicación, etc. Además, en su caso, también tendrá la
                finalidad de divulgar información relacionada con el sector de actividad del Responsable.
            </p>
        </div>
    </div>
</div>