<section id="servicios">
    <br />
    <h1 class="titulo-seccion">Tiendas online</h1>
    <section class="servicios_sobremi">
        <div class="sobremi_servicios">
            <div class="contenedor-servicios">
                <img src="assets/img/comprobado.png" height="30px" width="30px" alt="">
                <h4>Integracion con Woocommerce</h4>
            </div>
            <p>- Automatización de procesos</p>
            <p>- Desarrollo de sistema acorde a tu necesidad</p>
            <p>- Multiples pasarelas de pago</p>

            <br>

            <div class="contenedor-servicios">
                <img src="assets/img/comprobado.png" height="30px" width="30px" alt="">
                <h4>Organizacion y gestion de articulos</h4>
            </div>
            <p>- Diseño UX vista personalizado</p>
            <p>- Configuracion de articulos</p>
            <p>- Administración de productos</p>

            <br>

            <div class="contenedor-servicios">
                <img src="assets/img/comprobado.png" height="30px" width="30px" alt="">
                <h4>Mantenimiento y asesoramiento</h4>
            </div>
            <p>- Optimizacion y modificacion de sistemas</p>
            <p>- Asesoramiento constante</p>
            <p>- Acompañamiento y supervisión</p>
        </div>
        <div class="tamaño-img">
            <img src="assets/img/como-crear-una-tienda-online-con-wordpress-y-woocommerce.png"  alt="">
        </div>
        <br>
    </section>
</section>