
<section id="servicios">
    <br />
    <h1 class="titulo-seccion">Diseño Web</h1>
    <section class="servicios_sobremi">
        <div class="sobremi_servicios">
            <div class="contenedor-servicios">
                <img src="assets/img/comprobado.png" height="30px" width="30px" alt="">
                <h4>Hosting y Dominio</h4>
            </div>
            <p>- Dominio de Regalo (1 año)</p>
            <p>- Hosting WordPress de Regalo (1 mes)</p>
            <p>- Configuracion DNS y certificado SSL</p>

            <br>

            <div class="contenedor-servicios">
                <img src="assets/img/comprobado.png" height="30px" width="30px" alt="">
                <h4>Desarrollo web personalizado</h4>
            </div>
            <p>- 4 Páginas (Inicio, Productos, Contacto, etc)</p>
            <p>- Diseño Web Profesional (UX)</p>
            <p>- Diseño responsive.</p>
            <p>- Administración de contenido</p>

            <br>

            <div class="contenedor-servicios">
                <img src="assets/img/comprobado.png" height="30px" width="30px" alt="">
                <h4>Mantenimiento Web</h4>
            </div>
            <p>- Optimizacion de contenido</p>
            <p>- Asesoramiento las 24/7</p>
            <p>- Actualizacion y copia de Seguridad</p>
        </div>
        <div class="tamaño-img">
            <img src="assets/img/diseñador-web.png" alt="">
        </div>
    </section>
</section>