<div id="politicas">
    <div class="politicas-container">
        <div class="contenedor">
            <h1>Política de Cookies</h1>
            <p> Si quieres saber más sobre el uso de cookies que hace este sitio web simonparra.com ,
                estás en el lugar indicado. A continuación, vamos a explicarte qué son exactamente las cookies; qué tipo
                de cookies utilizamos y por qué; y cómo puede ejercer su derecho a configurar su navegador y rechazar el
                uso de cualquiera de ellos.
            </p>
            <p>
                Por supuesto, debes saber que si decides no utilizar algunas cookies, es posible que este sitio web no
                funcione perfectamente, afectando a tu experiencia de usuario.
            </p>
        </div>

        <div class="contenedor">
            <h2>¿Qué son las Cookies?</h2>
            <p>
                Una cookie es un fichero que se descarga en tu ordenador al acceder a determinadas páginas web o blogs.
            </p>
            <p>
                Las cookies permiten a esta página, entre otras cosas, almacenar y recuperar información sobre tus
                hábitos de navegación o tu equipo, y dependiendo de la información que contengan y de la forma en que
                utilices tu equipo, pueden utilizarse para reconocerte
            </p>
            <p>
                El navegador del usuario almacena cookies en el disco duro únicamente durante la sesión actual ocupando
                el mínimo espacio de memoria y no dañando el ordenador. Las cookies no contienen ninguna información
                personal específica y la mayoría de ellas se eliminan del disco duro al final de la sesión del navegador
                (las llamadas cookies de sesión).
            </p>
            <p>
                Las cookies se asocian al navegador, no a la persona, por lo que no suelen almacenar información
                sensible sobre usted como tarjetas de crédito o datos bancarios, fotografías o información personal,
                etc. Los datos que almacenan son de carácter técnico, estadístico, preferencias personales ,
                personalización de contenidos, etc.
            </p>
        </div>

        <div class="contenedor">
            <h2>Tipos de Cookies</h2>
            <p>
                Con el fin de ofrecerle una mejor experiencia de usuario, obtener datos analíticos, almacenar y
                recuperar información sobre sus hábitos de navegación o su equipo y desarrollar su actividad, este sitio
                web simonparra.com utiliza cookies propias y de terceros.
            </p>
        </div>

        <div class="contenedor">
            <h2>¿Qué tipos de cookies utiliza este sitio web?</h2>
            <br>
            <p class="parrafo_normal" id="ele593"> <strong><em>Cookies técnicas o funcionales</em></strong>
                <br /> Algunas cookies aseguran que ciertas partes de la web funcionen correctamente y que las
                preferencias de usuario sigan recordándose. Al colocar cookies funcionales, facilitamos la visita y uso
                de nuestra web. De esta manera, no es necesario introducir repetidamente la misma información cuando se
                visita nuestra web y, por ejemplo, los artículos permanecen en la cesta de la compra hasta que el
                usuario finalice la compra. La normativa nos permite colocar estas cookies sin tu consentimiento.
                <br />
                <br /> <strong><em>Cookies analíticas</em></strong>
                <br /> Usamos cookies analíticas para optimizar la experiencia en el sitio web de nuestros usuarios. Con
                estas cookies analíticas obtenemos conocimientos del uso de nuestro sitio web. Es necesario el
                consentimiento del usuario para insertar cookies analíticas.
                <br />
                <br /> <strong><em>Cookies de publicidad o marketing</em></strong>
                <br /> En esta web utilizamos cookies publicitarias, lo que nos permite personalizar los anuncios para
                cada usuario, y nosotros (y terceros) obtenemos información sobre los resultados de la campaña. Esto
                sucede en base a un perfil que creamos con los clics de los usuarios y navegación dentro y fuera de
                “simonparra.com”. Con estas cookies el usuario, como visitante de la web, está vinculado a un ID
                único. Es necesario el consentimiento del usuario para insertar estas cookies.
                <br />
            </p>
        </div>

        <div class="contenedor">
            <h2>Gestionar y rechazar el uso de cookies</h2>
            <p>
                Puedes utilizar tu navegador de Internet para eliminar las cookies de forma automática o manual. También
                puedes especificar que ciertas cookies no pueden ser colocadas. Otra opción es cambiar los ajustes de tu
                navegador de Internet para que recibas un mensaje cada vez que se coloca una cookie. Para obtener más
                información sobre estas opciones, consulta las instrucciones de la sección de «Ayuda» de tu navegador.
            </p>
            <p>
                Ten en cuenta que nuestra web puede no funcionar correctamente si todas las cookies están desactivadas.
                Si borras las cookies de tu navegador, se volverán a colocar después de tu consentimiento cuando vuelvas
                a visitar nuestras webs.
            </p>
        </div>
    </div>
</div>