
<section id="servicios">
    <br />
    <h1 class="titulo-seccion">Posicionamiento SEO</h1>
    <section class="servicios_sobremi">
        <div class="sobremi_servicios">
            <div class="contenedor-servicios">
                <img src="assets/img/comprobado.png" height="30px" width="30px" alt="">
                <h4>Optimizacion web</h4>
            </div>
            <p>- Tráfico de búsqueda</p>
            <p>- Investigación de palabras clave</p>
            <p>- Evaluación de la competencia</p>

            <br>

            <div class="contenedor-servicios">
                <img src="assets/img/comprobado.png" height="30px" width="30px" alt="">
                <h4>SEO On Page</h4>
            </div>
            <p>- Títulos y descripciones </p>
            <p>- Optimización de CRO.</p>
            <p>- Plugins o funcionalidades especiales.</p>

            <br>

            <div class="contenedor-servicios">
                <img src="assets/img/comprobado.png" height="30px" width="30px" alt="">
                <h4>Mantenimiento SEO y linkbuilding</h4>
            </div>
            <p>- Modificaciones en páginas y artículos.</p>
            <p>- Revisión y ajustes correspondientes al CRO.</p>
            <p>- Monitoreo y seguiemiento de la web</p>
        </div>
        <div class="tamaño-img perzonalizada">
            <img src="assets/img/SEO.png" alt="">
        </div>
        <br>
    </section>
</section>